apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  #namespace: jan-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        imagePullPolicy: Never # rausnehmen wenn image aus nexus gepulled wird
        image: todo-backend:v1
        #nexus.skyered-devops.de/kurs3/jan/todo-backend:v1
        ports:
        - containerPort: 8080
