apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  #namespace: jan-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        imagePullPolicy: Never # rausnehmen wenn image aus nexus gepulled wird
        image: todo-frontend:v1
        #nexus.skyered-devops.de/kurs3/jan/todo-frontend:v1
        ports:
        - containerPort: 80
